.dropdown-item:hover,
.dropdown-item.active {
    background-color: #b1b4ff !important;
}

.judul-modal {
    color: #fff;
}

.form-control:focus {
    background-color: #666cff;
    color: white; /* warna teks */
    border-color: #666cff; /* warna border */
}

.text-selection-none{
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none;
}
.text-selection-text{
    user-select: text; /* supported by Chrome and Opera */
    -webkit-user-select: text; /* Safari */
    -khtml-user-select: text; /* Konqueror HTML */
    -moz-user-select: text; /* Firefox */
    -ms-user-select: text;
}
.text-selection-all{
    user-select: all; /* supported by Chrome and Opera */
    -webkit-user-select: all; /* Safari */
    -khtml-user-select: all; /* Konqueror HTML */
    -moz-user-select: all; /* Firefox */
    -ms-user-select: all;
}
.text-selection-auto{
    user-select: auto; /* supported by Chrome and Opera */
    -webkit-user-select: auto; /* Safari */
    -khtml-user-select: auto; /* Konqueror HTML */
    -moz-user-select: auto; /* Firefox */
    -ms-user-select: auto;
}
.text-selection-contain{
    user-select: contain; /* supported by Chrome and Opera */
    -webkit-user-select: contain; /* Safari */
    -khtml-user-select: contain; /* Konqueror HTML */
    -moz-user-select: contain; /* Firefox */
    -ms-user-select: element;
}

.jstree-default .jstree-node {
    padding: 5px;
}
.light-style .jstree .jstree-container-ul .jstree-icon.ri-folder-4-line,
.light-style .jstree .jstree-container-ul .ion-ios-folder {
    color: #fdb528;
    font-size:24px;
}
.light-style .jstree .jstree-container-ul .jstree-icon.ri-file-4-line {
    color: #666cff;
    font-size:16px;
}
