.select2-results__option {
    /* display: flex; */
    align-items: center;
}

.select2-results__option .subtext {
    margin-left: 10px;
    --bs-text-opacity: 1;
    color: #acaeb8 !important;
    font-size: 0.875rem;
}

.select2-selection__rendered .subtext {
    margin-left: 10px;
    --bs-text-opacity: 1;
    color: #acaeb8 !important;
    font-size: 0.875rem;
}
